Source: system76-support
Section: utils
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  cargo (>=0.40),
  clang,
  debhelper-compat (=9),
  rustc (>=1.39)
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/system76-support

Package: system76-support
Architecture: amd64
Depends:
  ${misc:Depends},
  ${shlib:Depends}
Description: Support tool for Ubuntu & Pop!_OS, by System76
